<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container">
    <% include ./partials/header.ejs %>
    <div class="row">
      <div class="col s4 left-align"> </div>
      <div class="col s4 center-align">
        <ul class="collection">
          <a href="sessions/new" class="collection-item grey-text text-darken-1">SIGN IN</a>
          <a href="users/new" class="collection-item grey-text text-darken-1">CREATE ACCOUNT</a>
        </ul>
      </div>
      <div class="col s4 right-align"> </div>
    </div>
    </div>
  </body>
</html>
