h1 {
  font-family: 'Roboto Mono', monospace;
}

img {
  max-width: 350px;
}

.card {
  height: 370px;
}

#addButton {
  margin-top: -20px;
  /* margin-bottom: 10px; */
}

/* @media (min-width: 992px) {

}

@media (min-width: 600px) {

} */

/* @media (max-width: 600px) {
  h1 {
    font-size: 34px;
  }
  .card {
    height: 410px;
  }
} */

@media (max-width: 1400px) {
  #addButton {
    margin-bottom: 10px;
  }
  .card {
    height: 310px;
  }
}

@media (max-width: 1080px) {
  h1 {
    font-size: 74px;
  }
  #addButton {
    margin-bottom: 10px;
  }
  .card {
    height: 250px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 66px;
  }
  #addButton {
    margin-bottom: 10px;
  }
  .card {
    height: 400px;
  }
}

@media (max-width: 415px) {
  h1 {
    font-size: 38px;
  }
  .card {
    height: 440px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 34px;
  }
  .card {
    height: 410px;
  }
}

@media (max-width: 370px) {
  h1 {
    font-size: 26px;
  }
  .card {
    height: 390px;
  }
}

@media (max-width: 330px) {
  h1 {
    font-size: 28px;
  }
  .card {
    height: 360px;
  }
}
