<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <% include ../partials/header.ejs %>
        <div class="center-align">
          <a class="btn-flat waves-effect" href="/records"><i class="material-icons left">arrow_back</i>Back</a>
        </div>
      </div>
      <div class="row">
        <div class="col s4 left-align"> </div>
        <div class="col s4 center-align">
          <div class="">
            <h5>Create Account</h5>
          </div>
          <div class="divider"></div>
          <form class="" action="/users" method="POST">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button class="btn-small grey darken-1" type="submit" name="button"><i class="material-icons left">account_box</i>CREATE ACCOUNT</button>
          </form>
        </div>
        <div class="col s4 right-align"> </div>
      </div>
    </div>
  </body>
</html>
